
body {
    background-color: beige;
    padding: 50px;
}

div.celda {
    vertical-align: top;
    width: 45px;
    height: 45px;
    margin: 3px;
    border-radius: 4px;
    background-color: green;
    display: inline-block;
}

div.celda.mina {
    background-color: red;
}

div.celda.oculta, div.celda.mina.oculta {
    background-color: grey;
    cursor: pointer;
}
div.img.bomba{
  
        display:block;
        margin:auto;
        width: 2px;
        height: 2px;
    
}