body{
    background-color: aqua;
    padding: 2px;
    
}

h1{
    font-weight: bolder;
    color: green;
    border: 3px solid red; 
    text-align:center;
}
ul{
    font-size:24pt;
}
li{
    list-style-type: none;
}
img{
    display:block;
    margin:auto;
    width: 50px;
    height: 50px;
}
.img1,.img2,.img3{
     width: 50px;
     height: 50px;
     margin: 5% auto ;
     display:block;
}
.texto{
    text-align:center;
}
.imagen_principal{
    width:300px;
    height: 150px;
}
